
<!-- BEGIN message -->
<div class="alert alert-success" style="<?=$display?>"><?=$message?></div>
<div class="alert alert-danger" id="add-system-error" style="display:none;"></div>
<!-- END message -->
<ul class="nav nav-tabs" style="margin-top:1em">
    <li role="presentation" class="systems-pc-tab systems-tab"><a style="cursor:pointer">PC/Server</a></li>
    <li role="presentation" class="ipad-tab systems-tab"><a style="cursor:pointer">iPad</a></li>
    <li role="presentation" class="printer-tab systems-tab"><a style="cursor:pointer">Printer</a></li>
    <li role="presentation" class="camera-tab systems-tab"><a style="cursor:pointer">Camera</a></li>
    <li role="presentation" class="digital-sign-tab systems-tab"><a style="cursor:pointer">Digital Sign</a></li>
    <li role="presentation" class="time-clock-tab systems-tab"><a style="cursor:pointer">Time Clock</a></li>
</ul>
<div class="systems-pc-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <div class="row">
            <legend>System Information</legend>
            <div class="form-group">
                <label for="system_profile">System Profile</label>
                <select id="system-profile" name="system-profile">
                    <?=$profiles?>
                </select>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="model" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="processor">Processor</label>
                        <input id="processor" type="text" name="processor" class="form-control" placeholder="Intel core i5 ect..." value="" />
                    </div>
                    <div class="form-group">
                        <label for="ram">RAM</label>
                        <input id="ram" name="ram" type="text" class="form-control" placeholder="Amount of RAM in GB" value="" />
                    </div>
                    <div class="form-group">
                        <label for="hd">Hard Drive</label>
                        <input id="hd" name="hd" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="video_card">Video Card</label>
                        <input id="video-card" name="video_card" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="os">Operating System</label>
                        <input id="os" name="os" type="text" class="form-control"  value="" />
		    </div>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label>
                        <input id="manufacturer" name="manufacturer" type="text" class="form-control"  value="" />
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="server">Is Server?</label>
                            <input id="server" name="server" type="checkbox" value="" />
                        </div>
                        <div>
                            <label for="battery_bk">Battery Backup?</label>
                            <input id="battery-bk" name="battery_bk" type="checkbox" value="" />
                        </div>
                        <div>
                            <label for="redundant_bk">Redundant Backup?</label>
                            <input id="redundant_bk" name="redundant_bk" type="checkbox" value="" />
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="rotation">Exclude from rotation?</label>
                            <input id="rotation" name="rotation" type="checkbox" value="" />
                        </div>
                        <div>
                            <label for="smart_room">Smart Room?</label>
                            <input id="smart-room" name="smart_room" type="checkbox" value="" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="mac">MAC Address</label>(Wired) <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="mac" required name="mac" type="text" class="form-control" placeholder="XX:XX:XX:XX:XX:XX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="ip">Primary IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="mac2">Second MAC Address</label>
                        <input id="mac2" name="mac2" type="text" class="form-control"  placeholder="XX:XX:XX:XX:XX:XX" value="" />
                    </div>                   
                    <div class="form-group">
                        <label for="ip2">Secondary IP Address</label>
                        <input id="secondary-ip" name="secondary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="primary_monitor">Primary Monitor Size</label>
                        <input id="primary-monitor" name="primary_monitor" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="secondary_monitor">Secondary Monitor Size</label>
                        <input id="secondary-monitor" name="secondary_monitor" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" placeholder="mm/dd/yyyy" value="" />
                    </div>
                    <div class="form-group">
                        <label for="server-type">Server Type</label>
                        <input id="server_type" name="server_type" type="text" class="form-control"  value="" placeholder="2u, 4u, tower, etc..."/>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="vlan">VLAN</label>
                            <select name="vlan">
                                <option value="0">Select VLAN</option>
                                <option value="1">Admin</option>
                                <option value="2">Closed</option>
                                <option value="3">Public</option>
                                <option value="4">VOIP</option>
                            </select>
                        </div>
                        <div>
                            <label for="touch_screen">Touch Screen?</label>
                            <input id="touch-screen" name="touch_screen" type="checkbox"/>
                        </div>
                        <div>
                            <label for="stand">Docking Stand?</label>
                            <input id="stand" name="stand" type="checkbox"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="dual_monitor">Dual Monitor?</label>
                            <input id="dual-monitor" name="dual_monitor" type="checkbox"/>
                        </div>
                        <div>
                            <label for="checkin">Check-in System?</label>
                            <input id="checkin" name="checkin" type="checkbox" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br />
        <div class="row">
            <legend>User and Location Information</legend>
            <div class="form-group">
                <label for="system_usage">System Usage</label>
                <select name="system_usage">
                    <option value="0">Select System Usage</option>
                    <option value="1">Staff</option>
                    <option value="2">Student</option>
                    <option value="3">Public</option>
                </select>
            </div>
            <div class="col-sm-6">
                <fieldset> 
                    <label for="username">Username</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <div class="form-group input-group"><!-- for search button to work use this <div class="input-group form-group"> -->
                            <div id="pc-button-group" class="input-group-btn" >
                            <input name="username" required id="pc-username" type="text" class="form-control"  placeholder="Search Username" autocomplete="off" />
                                <ul class="dropdown-menu" id="pc-username-dropdown">
                                </ul>
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input name="first_name" id="pc-first-name" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input name="last_name" id="pc-last-name" type="text" class="form-control" value="" />
                    </div>
                    
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="room_number">Room Number</label>
                        <input id="room-number" type="text" name="room_number" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input id="phone" name="phone" type="tel" class="form-control" placeholder="XXX-XXX-XXXX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select name="department">
                            <?=$departments?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location">
                            <?=$locations?>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <label for="system_notes">Notes</label>
            <textarea id="system-notes" name="system_notes" class="form-control"></textarea>
        </div>	  
            <input class="btn btn-primary" type="submit" value="Save Systems" />
    </form>
</div>

<div class="ipad-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <input name="device_type" type="hidden" value=<?=IPAD?> />
        <div class="row">   
            <legend>iPad Information</legend>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="hd">Hard Drive</label>
                        <input id="hd" name="hd" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="generation">Generation</label>
                        <input id="generation" name="generation" type="text" class="form-control"  value="" />
                    </div>
                    <div>
                        <label for="case">Protective Case?</label>
                        <input id="case" name="case" type="checkbox" />
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="mac">MAC Address</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="ipad-mac" required name="mac" type="text" class="form-control"  placeholder="XX:XX:XX:XX:XX:XX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="ip">Primary IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="apple_id">Apple ID</label>
                        <input id="apple-id" name="apple_id" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" placeholder="mm/dd/yyyy" value="" />
                    </div>
                </fieldset>
            </div>
        </div>
        <br />
        <div class="row">
            <legend>User and Location Information</legend>
            <div class="form-group">
                <label for="system_usage">System Usage</label>
                <select name="system-usage">
                    <option value="0">Select System Usage</option>
                    <option value="1">Staff</option>
                    <option value="2">Student</option>
                    <option value="3">Public</option>
                </select>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <label for="username">Username</label> <i title="Required input" class="required fa fa-asterisk"></i>
                    <div class="form-group input-group">
                        <div id="ipad-button-group" class="input-group-btn">
                            <input name="username" required id="ipad-username" type="text" class="form-control"  placeholder="Search Username" autocomplete="off" />
                            <ul class="dropdown-menu" id="ipad-username-dropdown">
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input name="first_name" id="ipad-first-name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input name="last_name" id="ipad-last-name" type="text" class="form-control"/>
                    </div>
                                      
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="room_number">Room Number</label>
                        <input id="room-number" type="text" name="room_number" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input id="phone" name="phone" type="tel" class="form-control" placeholder="XXX-XXX-XXXX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select name="department">
                            <?=$departments?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location">
                            <?=$locations?>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <label for="system_notes">Notes</label>
            <textarea id="system-notes" name="system_notes" class="form-control"></textarea>
        </div>	  
        <input class="btn btn-primary" type="submit" value="Save Systems" />
    </form>
</div>
<div class="printer-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <input name="device_type" type="hidden" value=<?=PRINTER?> />
        <div class="row">   
            <legend>Printer Information</legend>
            <div class="form-group">
                <label for="system_profile">System Profile</label>
                <select id="printer-profile" name="system-profile">
                    <?=$printer_profiles?>
                </select>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="printer-model" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="toner_cartridge">Toner</label>
                        <input id="printer-toner-cartridge" name="toner_cartridge" type="text" class="form-control"  value="" />
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="color">Color?</label>
                            <input id="printer-color" name="color" type="checkbox"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="duplex">Duplex?</label>
                            <input id="printer-duplex" name="duplex" type="checkbox"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="printer-manufacturer" required name="manufacturer" type="text" class="form-control"  value="" />
                    </div>                                   
                    <div class="form-group">
                        <label for="ip">IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" value="" />
                    </div>     
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" placeholder="mm/dd/yyyy" value="" />
                    </div>                
                    <div>
                        <label for="network">Network?</label>
                        <input id="printer-network" name="network" type="checkbox" onclick="toggleNetwork(this.checked)"/>
                    </div>                    
                </fieldset>
            </div>
        </div>
        <br />
        <div class="row">
            <legend>User and Location Information</legend>            
            <div class="col-sm-6">
                <fieldset>
                    <label for="username">Username</label> <i title="Required input" class="required fa fa-asterisk"></i>
                    <div class="form-group input-group">
                        <div id="printer-button-group" class="input-group-btn">
                            <input name="username" required id="printer-username" type="text" class="form-control"  placeholder="Search Username" autocomplete="off" />
                            <ul class="dropdown-menu" id="printer-username-dropdown">
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input name="first_name" id="printer-first-name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input name="last_name" id="printer-last-name" type="text" class="form-control"/>
                    </div>
                                        
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="room_number">Room Number</label>
                        <input id="room-number" type="text" name="room_number" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input id="printer-phone" name="phone" type="tel" class="form-control" placeholder="XXX-XXX-XXXX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select name="department">
                            <?=$departments?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location">
                            <?=$locations?>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <label for="system_notes">Notes</label>
            <textarea id="system-notes" name="system_notes" class="form-control"></textarea>
        </div>	  
        <input class="btn btn-primary" type="submit" value="Save Systems" />
    </form>
</div>
<div class="camera-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <input name="device_type" type="hidden" value=<?=CAMERA?> />
        <div class="row">   
            <legend>Camera Information</legend>            
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="model" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="megapixels">Resolution</label>
                        <input id="megapixels" name="megapixels" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="manufacturer" required name="manufacturer" type="text" class="form-control"  value="" />
                    </div>
                     <div class="form-group">
                        <label for="department">Department</label>
                        <select name="department">
                            <?=$departments?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location">
                            <?=$locations?>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="mac">MAC Address</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="camera-mac" required name="mac" type="text" class="form-control"  placeholder="XX:XX:XX:XX:XX:XX" value="" />
                    </div>
                    <div class="form-group">
                        <label for="ip">IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" value="" />
                    </div> 
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" placeholder="mm/dd/yyyy" value="" />
                    </div>
                    <div class="form-group">
                        <label for="room_number">Location in Building</label>
                        <input id="room-number" type="text" name="room_number" class="form-control" value="" />
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="sd_support">SD Card Support?</label>
                            <input id="sd-support" name="sd_support" type="checkbox"/>
                        </div>
                        <div>
                            <label for="hi_def">HD Camera?</label>
                            <input id="hi-def" name="hi_def" type="checkbox"/>
                        </div>
                         <div>
                            <label for="exterior">Exterior Camera?</label>
                            <input id="exterior" name="exterior" type="checkbox"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="covert">Covert Camera?</label>
                            <input id="covert" name="covert" type="checkbox"/>
                        </div>
                         <div>
                            <label for="is_on">Camera Status(up or Down)?</label>
                            <input id="is-on" name="is_on" type="checkbox"/>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <label for="system_notes">Notes</label>
            <textarea id="system-notes" name="system_notes" class="form-control"></textarea>
        </div>	  
        <input class="btn btn-primary" type="submit" value="Save Systems" />
    </form>
</div>
<div class="digital-sign-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <input name="device_type" type="hidden" value=<?=DIGITAL_SIGN?> />
        <div class="row">
            <legend>System Information</legend>            
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="model" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="processor">Processor</label>
                        <input id="processor" type="text" name="processor" class="form-control" placeholder="Intel core i5 ect..." value="" />
                    </div>
                    <div class="form-group">
                        <label for="ram">RAM</label>
                        <input id="ram" name="ram" type="text" class="form-control" placeholder="Amount of RAM in GB" value="" />
                    </div>
                    <div class="form-group">
                        <label for="hd">Hard Drive</label>
                        <input id="hd" name="hd" type="text" class="form-control" value="" />
                    </div>                    
                    <div class="form-group">
                        <label for="manufacturer">Player Manufacturer</label>
                        <input id="manufacturer" name="manufacturer" type="text" class="form-control"  value="" />
                    </div>    
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select name="department">
                            <?=$departments?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location">
                            <?=$locations?>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="mac">MAC Address</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="mac" required name="mac" type="text" class="form-control" placeholder="XX:XX:XX:XX:XX:XX" value="" />
                    </div>                    
                    <div class="form-group">
                        <label for="ip">Primary IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" value="" />
                    </div>                    
                    <div class="form-group">
                        <label for="screen_size">Screen Size</label>
                        <input id="screen-size" name="screen_size" type="text" class="form-control"  value="" />
                    </div> 
                    <div class="form-group">
                        <label for="screen_manufacturer">Screen Manufacturer</label>
                        <input id="screen-manufacturer" name="screen_manufacturer" type="text" class="form-control"  value=""/>
                    </div>
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" placeholder="mm/dd/yyyy" value="" />
                    </div>
                    
                    <div class="form-group">
                        <label for="room_number">Location in Building</label>
                        <input id="room-number" type="text" name="room_number" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="vlan">VLAN</label>
                        <select name="vlan">
                            <option value="0">Select VLAN</option>
                            <option value="1">Admin</option>
                            <option value="2">Closed</option>
                            <option value="3">Public</option>
                            <option value="4">VOIP</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hi_def">Hi-def?</label>
                        <input id="hi-def" name="hi_def" type="checkbox"/>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <label for="system_notes">Notes</label>
            <textarea id="system-notes" name="system_notes" class="form-control"></textarea>
        </div>	  
            <input class="btn btn-primary" type="submit" value="Save Systems" />
    </form>
</div>
<div class="time-clock-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <input name="device_type" type="hidden" value=<?=TIME_CLOCK?> />
        <div class="row">
            <legend>System Information</legend>            
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="model" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label>
                        <input id="manufacturer" name="manufacturer" type="text" class="form-control"  value="" />
                    </div>    
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select name="department">
                            <?=$departments?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location">
                            <?=$locations?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="vlan">VLAN</label>
                        <select name="vlan">
                            <option value="0">Select VLAN</option>
                            <option value="1">Admin</option>
                            <option value="2">Closed</option>
                            <option value="3">Public</option>
                            <option value="4">VOIP</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="mac">MAC Address</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="mac" required name="mac" type="text" class="form-control" placeholder="XX:XX:XX:XX:XX:XX" value="" />
                    </div>                    
                    <div class="form-group">
                        <label for="ip">Primary IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" value="" />
                    </div>                    
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" placeholder="mm/dd/yyyy" value="" />
                    </div>
                    <div class="form-group">
                        <label for="room_number">Room Number</label>
                        <input id="room-number" type="text" name="room_number" class="form-control" value="" />
                    </div>
                    
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <label for="system_notes">Notes</label>
            <textarea id="system-notes" name="system_notes" class="form-control"></textarea>
        </div>	  
            <input class="btn btn-primary" type="submit" value="Save Systems" />
    </form>
</div>

