
<!-- BEGIN message -->
<div class="alert alert-success" style="<?=$display?>"><?=$message?></div>
<!-- END message -->
<ul class="nav nav-tabs" style="margin-top:1em">
    <li role="presentation" class="systems-pc-tab systems-tab"><a style="cursor:pointer">PC/Server</a></li>
    <li role="presentation" class="printer-tab systems-tab"><a style="cursor:pointer">Printer</a></li>
</ul>
<div class="systems-pc-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <input id="device-id" name="device_id" type="hidden">
        <input id="specific-device-id" name="specific_device_id" type="hidden">
        <input id="device-type-id" name="device_type" type="hidden" value=<?=PC?> />
        <div class="row">
            <legend>System Profile</legend>
            <div class="form-group">
                <label for="system_profile">System Profile</label>
                <select id="system-profile" name="system-profile">
                    <?=$profiles?>
                </select>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="profile-name">Profile Name <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input id="profile-name" name="profile_name" type="text" class="form-control" required=""/>
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="model" type="text" class="form-control"  value="" />
                    </div>
                    <div class="form-group">
                        <label for="processor">Processor</label>
                        <input id="processor" type="text" name="processor" class="form-control" placeholder="Intel core i5 ect..." value="" />
                    </div>
                    <div class="form-group">
                        <label for="ram">RAM</label>
                        <input id="ram" name="ram" type="text" class="form-control" placeholder="Amount of RAM in GB" value="" />
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                     <!--   <div>
                            <label for="vlan">VLAN</label>
                            <select name="vlan">
                                <option value="0">Select VLAN</option>
                                <option value="1">Admin</option>
                                <option value="2">Closed</option>
                                <option value="3">Public</option>
                                <option value="4">VOIP</option>
                            </select>
                        </div> -->
                        <div>
                            <label for="touch_screen">Touch Screen?</label>
                            <input id="touch-screen" name="touch_screen" type="checkbox"/>
                        </div>
                        <div>
                            <label for="stand">Docking Stand?</label>
                            <input id="stand" name="stand" type="checkbox"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="smart_room">Smart Room?</label>
                            <input id="smart-room" name="smart_room" type="checkbox" value="" />
                        </div>
                        <div>
                            <label for="dual_monitor">Dual Monitor?</label>
                            <input id="dual-monitor" name="dual_monitor" type="checkbox"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="hd">Hard Drive</label>
                        <input id="hd" name="hd" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="video_card">Video Card</label>
                        <input id="video-card" name="video_card" type="text" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="os">Operating System</label>
                        <input id="os" name="os" type="text" class="form-control"  value="" />
		    </div>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label>
                        <input id="manufacturer" name="manufacturer" type="text" class="form-control"  value="" />
                    </div>
                </fieldset>
            </div>
        </div>
        <br />
        <input class="btn btn-primary" type="submit" value="Save Profile" />
    </form>
</div>
<div class="printer-section systems-section">
    <form action="<?=$form_action?>" method="post" class="phpws-form">
        <input id="printer-device-id" name="device_id" type="hidden">
        <input id="printer-specific-device-id" name="specific_device_id" type="hidden">
        <input id="printer-device-type-id" name="device_type" type="hidden">
        <input name="device_type" type="hidden" value=<?=PRINTER?> />
        <div class="row">   
            <legend>Printer Profile</legend>
            <div class="form-group">
                <label for="system_profile">System Profile</label>
                <select id="printer-profile" name="system-profile">
                    <?=$printer_profiles?>
                </select>
            </div>
            <div class="col-sm-6">
                <fieldset>
                   <div class="form-group">
                        <label for="profile-name">Profile Name <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input id="printer-profile-name" name="profile_name" type="text" class="form-control" required=""/>
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="printer-model" type="text" class="form-control"  value="" />
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="color">Color?</label>
                            <input id="printer-color" name="color" type="checkbox"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="duplex">Duplex?</label>
                            <input id="printer-duplex" name="duplex" type="checkbox"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="printer-manufacturer" required name="manufacturer" type="text" class="form-control"  value="" />
                    </div>                                   
                           <div class="form-group">
                        <label for="toner_cartridge">Toner</label>
                        <input id="printer-toner-cartridge" name="toner_cartridge" type="text" class="form-control"  value="" />
                    </div>
                    <div>
                        <label for="network">Network?</label>
                        <input id="printer-network" name="network" type="checkbox" onclick="toggleNetwork(this.checked)"/>
                    </div>                    
                </fieldset>
            </div>
        </div>
               <br />
        <input class="btn btn-primary" type="submit" value="Save Profile" />
    </form>
</div>

