<script type="text/javascript" src="mod/systemsinventory/javascript/format_mac.js"></script>
<div class="systems-printer-section systems-section">
        <input id="device-id" name="device_id" type="hidden">
        <input id="row-index" name="row_index" type="hidden">
        <input id="specific-device-id" name="specific_device_id" type="hidden">
        <input id="device-type-id" name="device_type" type="hidden">
        <div class="row">      
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="model" type="text" class="form-control"  disabled />
                    </div>
                    <div class="form-group">
                        <label for="toner_cartridge">Toner</label>
                        <input id="toner-cartridge" name="toner_cartridge" type="text" class="form-control"  disabled />
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="manufacturer" required name="manufacturer" type="text" class="form-control"  disabled />
                    </div>
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" disabled />
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="color">Color?</label>
                            <input id="color" name="color" type="checkbox" disabled/>
                        </div>
                        <div>
                            <label for="duplex">Duplex?</label>
                            <input id="duplex" name="duplex" type="checkbox" disabled/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-left:-15px;">
                        <div>
                            <label for="network">Network?</label>
                            <input id="network" name="network" type="checkbox" disabled/>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br />