<script type="text/javascript" src="mod/systemsinventory/javascript/format_mac.js"></script>
<div class="systems-ipad-section systems-section">
        <input id="device-id" name="device_id" type="hidden">
        <input id="row-index" name="row_index" type="hidden">
        <input id="specific-device-id" name="specific_device_id" type="hidden">
        <input id="device-type-id" name="device_type" type="hidden">
        <div class="row">   
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="hd">Hard Drive</label>
                        <input id="hd" name="hd" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="generation">Generation</label>
                        <input id="generation" name="generation" type="text" class="form-control"  disabled />
                    </div>
                    <div>
                        <label for="case">Protective Case?</label>
                        <input id="case" name="case" type="checkbox" disabled/>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="mac">MAC Address</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="mac" required name="mac" type="text" class="form-control"  placeholder="XX:XX:XX:XX:XX:XX" disabled />
                    </div>
                    <div class="form-group">
                        <label for="ip">Primary IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" disabled/>
                    </div>                 
                    <div class="form-group">
                        <label for="apple_id">Apple ID</label>
                        <input id="apple-id" name="apple_id" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" disabled />
                    </div>
                </fieldset>
            </div>     
        <br />