<script type="text/javascript" src="mod/systemsinventory/javascript/format_mac.js"></script>
<div class="digital-sign-section systems-section">
    <input id="device-id" name="device_id" type="hidden">
    <input id="row-index" name="row_index" type="hidden">
    <input id="specific-device-id" name="specific_device_id" type="hidden">
    <input id="device-type-id" name="device_type" type="hidden">
    <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="physical_id">Physical ID <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="physical_id" required id="physical-id" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="model">Model <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required name="model" id="model" type="text" class="form-control"  disabled />
                    </div>
                    <div class="form-group">
                        <label for="processor">Processor</label>
                        <input id="processor" type="text" name="processor" class="form-control" placeholder="Intel core i5 ect..." disabled />
                    </div>
                    <div class="form-group">
                        <label for="ram">RAM</label>
                        <input id="ram" name="ram" type="text" class="form-control" placeholder="Amount of RAM in GB" disabled />
                    </div>
                    <div class="form-group">
                        <label for="hd">Hard Drive</label>
                        <input id="hd" name="hd" type="text" class="form-control" disabled />
                    </div>                    
                    <div class="form-group">
                        <label for="manufacturer">Player Manufacturer</label>
                        <input id="manufacturer" name="manufacturer" type="text" class="form-control"  disabled />
                    </div>    
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select id="department" name="department">
                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select id="location" name="location">
                            
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <label for="mac">MAC Address</label> <i title="Required input" class="required fa fa-asterisk"></i>
                        <input id="mac" required name="mac" type="text" class="form-control" placeholder="XX:XX:XX:XX:XX:XX" disabled />
                    </div>                    
                    <div class="form-group">
                        <label for="ip">Primary IP Address</label>
                        <input id="primary-ip" name="primary_ip" type="text" class="form-control"  placeholder="XXX.XXX.XXX.XXX" disabled />
                    </div>                    
                    <div class="form-group">
                        <label for="screen_size">Screen Size</label>
                        <input id="screen-size" name="screen_size" type="text" class="form-control"  disabled />
                    </div> 
                    <div class="form-group">
                        <label for="screen_manufacturer">Screen Manufacturer</label>
                        <input id="screen-manufacturer" name="screen_manufacturer" type="text" class="form-control"  disabled/>
                    </div>
                    <div class="form-group">
                        <label for="purchase_date">Purchase Date <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="purchase-date" name="purchase_date" type="date" class="form-control" disabled />
                    </div>
                    
                    <div class="form-group">
                        <label for="room_number">Location in Building</label>
                        <input id="room-number" type="text" name="room_number" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="vlan">VLAN</label>
                        <select id="vlan" name="vlan" disabled="">
                            <option value="0">Select VLAN</option>
                            <option value="1">Admin</option>
                            <option value="2">Closed</option>
                            <option value="3">Public</option>
                            <option value="4">VOIP</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hi_def">Hi-def?</label>
                        <input id="hi-def" name="hi_def" type="checkbox" disabled=""/>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <label for="system_notes">Notes</label>
            <textarea id="notes" name="system_notes" class="form-control" disabled=""></textarea>
        </div>	  
</div>