<!-- Brand and toggle get grouped for better mobile display -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border rounded">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="navbar-toggler-icon">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="./systemsinventory">Systems Inventory</a>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>&nbsp;Systems options<span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <?php if(isset($add))echo $add;?>
                <?php if(isset($search))echo $search;?>
                <?php if(isset($reports))echo $reports;?>
                <?php if($is_deity):?>
                <span><strong>Settings</strong></span><hr/>               
                    <a class="dropdown-item" href="systemsinventory/settings/editPermissions">Edit Permissions</a>
                    <a class="dropdown-item" href="systemsinventory/settings/editDepartments">Edit Departments</a>
                    <a class="dropdown-item" href="systemsinventory/settings/editLocations">Edit Locations</a>                    
                <?php endif;?>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?=$username ?><span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">          
                <a class="dropdown-item" href="index.php?module=controlpanel"><i class="fa fa-cog"></i> Control panel</a>
                <a class="dropdown-item" href="<?=$logout_uri?>"><i class="fas fa-sign-out-alt"></i> Sign out</a>
            </div>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->
</nav>
