<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="./systemsinventory">Systems Inventory</a>
  </div>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><?php if(isset($add))echo $add;?></li>
      <li><?php if(isset($search))echo $search;?></li>
      <li><?php if(isset($reports))echo $reports;?></li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <!-- BEGIN admin_links -->
      <?php if ($is_deity): ?>
      <li class="dropdown">
        <?php if(isset($settings))echo $settings;?>
        <ul class="dropdown-menu">
            <li><a href="systemsinventory/system/editProfiles">Edit Profiles</a></li>
            <li><a href="systemsinventory/settings/editPermissions">Edit Permissions</a></li>
            <li><a href="systemsinventory/settings/editDepartments">Edit Departments</a></li>
            <li><a href="systemsinventory/settings/editLocations">Edit Locations</a></li>
        </ul>
      </li>
      
      <?php endif; ?>
      <!-- END admin_links -->
      <li>
        <a href="index.php?module=controlpanel"><?=$username?></a>
      </li>
      <li>
          <a href="<?=$logout_uri?>"><i class="fa fa-sign-out"></i> Sign out</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
